.head {
    background-color: darkseagreen;
    padding: 10px 10px;
    color: floralwhite;
    border: 2px;
}

.head h1 {
    margin-left: 20px;
}

.link {
    background-color: rgb(186, 59, 224);
    padding: 3px;
    border: 2px;
    
}

.link ul {        
    list-style-type: none;
}

.link li {
    display: inline;
    font-size: 20px;
    margin-right: 100px;
    
    
}

.link li a {
    text-decoration: none;
    color: aliceblue;
}

.art {
    margin-left: 10px;
}

.art .h2 {
    margin-left: 10px;
    color: rgb(39, 185, 88);
}

.art .h3 {
    margin-left: 20px;
    color: blueviolet;
}

table, th, td {
    border: 1px solid black;
}

.session-desc h3 {
    margin-left: 170px;
    margin-top: 10px;
}

.session-desc img {
    width: 150px;
    float: left;
    margin-right: 20px;   
}

.session-desc p {
    margin-right: 20px;
    text-align: justify;
}

.visao {
    margin-right: 10px;
    margin-left: 170px;
    text-align: justify;
    
}

.visao p {
    margin-right: 20px;
}

.esquilas img {
    width: 150px;
    float: left;
    margin-right: 20px;
   
}

.esquilas h3 {
    margin-left: 170px;
}

.esquilas p {
    margin-top: 10px;
    margin-right: 20px;
    text-align: justify;
}

.video {
    background-color: rgb(10, 161, 161);
    border-radius: 10%;
    padding: 8px;
    float: left;
    margin-top: 70px; 
    margin-bottom: 10px;   
}

.video a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}

.footer {
    text-align: center;
    margin-top: 100px;
    text-decoration: solid;
    font-size: 20px;
    margin-bottom: 10px;
    color: brown;
    
}